{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>RA-VPN Group</strong></div>
    <div class="panel-body">
        {% render_field form.name %}
        {% render_field form.tenant %}
        {% render_field form.acl %}
        {% render_field form.attribute %}
        {% render_field form.owner %}
        {% render_field form.purpose %}
        {% render_field form.ttl %}
        {% render_field form.owneraudit %}
        {% render_field form.adminaudit %}
    </div>
</div>
{% endblock %}
